$color_cuadros:#eff6f7;

.cuadro_lista{
    background-color: $color_cuadros !important;
}

.cuadro_detalles{
    background-color: $color_cuadros !important;
}

.contenedor_ventas{
	background-color: #F3F5F5 !important;
	border-radius: 15px;
}

.contenedor_compras{
	background-color: #F5FDF6 !important;
	border-radius: 15px;
}